
<header>

        <h1>EAT-DA-TACOS!</h1>

    <div class="picture">
            <img src="assets/images/taco-.png" alt="Taco Image">
    </div>

</header>

<div class="flex-container">

    <div class="align-item eat">
        <h2>Ready to Eat!</h2>
            <ul class="icon">
              {{#each taco}}
              {{#unless this.devoured}}
                  <li class="fork" title="Taco was made on: {{this.date}}">
                    {{this.taco_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="devoured" value="1">
                      <button class="dev" type="submit">Devour it!</button>
                    </form>
                  </li>
                  {{/unless}}
              {{/each}}
            </ul>
    </div>

    <div class="align-item addTaco">
        <div>
            <h2>Create a Taco!</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                  <input type="text" id="ta" name="taco_name" placeholder="Taco Name">
                </div>
                <button id="addTaco" type="submit">Add Taco</button>
            </form>
        </div>
    </div>

    <div class="align-item devoured">
        <h2>Devoured</h2>
            <ul class="icon">
                {{#each taco}}
              {{#if this.devoured}}
                  <li title="Taco was made on: {{this.date}}">
                    {{this.taco_name}}
                  </li>
              {{/if}}
              {{/each}}
            </ul>
    </div>
</div>